@using BusinessLayer;
@using DataLayer;

@model ViewLayer.Models.LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<div class="wrapper d-flex flex-column justify-content-center align-items-center">
    <div class="container justify-content-center auth-wrapper d-flex align-items-center">
        <div class="auth d-flex justify-content-center shadow p-5 mb-5 bg-body">
            <div class="container">
                <img class="auth__brand" src="/images/Logo_Bg-removed.png" />
                <h3 class="text-center my-4">Inloggen</h3>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form class="mt-3" asp-antiforgery="true">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control"  autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control autocomplete="off"  />
                    </div>
                    <button class="auth__submit mt-3" type="submit">Inloggen</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}