@using DataLayer;
@using BusinessLayer;
@{
    ViewData["Title"] = "Home Page";
    var uCont = new UserContainer(new UserDAL());
    var tCont = new TeamContainer(new TeamDAL());
    List<Team> teams = tCont.GetTeamsOfUser(uCont.GetLoggedInUser().Id);
}

<div class="text-left">
    <h1 class="display-4">Welcome - @ViewData["LoggedInUserName"]</h1>
    <div class="row">
        <div class="col-md-3">
            <div id="LeftForm" class="">
                <div id="DateSelector" class="select-menu-item"><input class="form-control" type="datetime-local"></div>
                <div id="FloorSelector" class="select-menu-item">
                    <select id="FloorSelectorSelect" class="form-control">
                        <option value="1">Verdieping 1</option>
                        <option value="2">Verdieping 2</option>
                        <option value="3">Verdieping 3</option>
                        <option value="4">Verdieping 4</option>
                    </select>
                </div>
                <hr style="height: 2px; background-color: #4525F2;" />
                <div id="TeamSelector" class="select-menu-item">
                    <input class="form-check-input d-none" type="checkbox" id="TeamCheckBox" onchange="CheckTeamInput()"/>
                    <label class="form-check-label" for="TeamCheckBox">Team
                    <span id="TeamCheckBoxOff" class="teamcheckboxOff">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                             class="bi bi-toggle-off" fill="black"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z" />
                        </svg>
                    </span>
                    <span id="TeamCheckBoxOn" class="teamcheckboxOn d-none">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                             class="bi bi-toggle-on" fill="#4525F2"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
                        </svg>
                        </span>
                    </label>
                </div>
                <div id="TeamList" class="list-group team-list d-none">
                    @{
                        foreach (Team team in teams) {
                            <div class="list-group-item team-list-item">@team.Name</div>
                        }
                    }
                </div>
                <hr style="height: 2px; background-color: #4525F2;" />
                <div id="WorkSpotSelect" class="select-menu-item">
                    @*List with workspots and selectable*@
                </div>
                <div id="ReserverdWorkSpotSelect" class="select-menu-item">

                    @*List with workspots that are reserved*@
                </div>
            </div>
        </div>
        <div class="col-md-9 bg-white"></div>
    </div>
</div>
