@using BusinessLayer;
@using DataLayer;
@{
    ViewData["Title"] = "Login Page";
    var uCont = new UserContainer(new UserDAL());
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    @*Create Login Page*@
    @if (ViewData["error"] != null)
    {
        <div class="alert alert-danger">@ViewData["error"]</div>
    }
    <div class="col-md-6 m-auto">
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label>Email:</label>
                <input type="text" name="name" value="" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Wachtwoord:</label>
                <input type="password" name="password" value="" class="form-control" autocomplete="off" />
            </div>
            <input type="submit" value="Login" class="btn btn-success"/>
        </form>
    </div>
</div>
