/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --c-light: #f8f9fa;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Main Page
-------------------------------------------------- */
.select-menu-item {
    margin: 20px 0 10px 0;
}

    .select-menu-item:first-child {
        margin: 10px 0 5px 0;
    }

    .select-menu-item input:hover {
        cursor: pointer;
    }

    .select-menu-item input *:hover {
        cursor: pointer;
    }

.team-list > .team-list-item:hover {
    background: var(--c-light);
    cursor: pointer;
}

#WorkSpotSelectList {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-div {
    overflow-y: auto;
    overflow-x: hidden;
}

.height-25 {
    max-height: 25px;
}
.height-50 {
    max-height: 50px;
}
.height-75 {
    max-height: 75px;
}
.height-100 {
    max-height: 100px;
}
.height-150 {
    max-height: 150px;
}
.height-400 {
    max-height: 400px;
}