@model ViewLayer.Models.WorkzoneViewModel

@{
    ViewData["Title"] = "Werkblokken Wijzigen";
}

<partial name="_ModelStateModalPartial" />


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Admin" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" hidden class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input  asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

         @*   <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Workspaces" class="control-label"></label>
                <input asp-for="Workspaces" class="form-control" />
                <span asp-validation-for="Workspaces" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PositionX" class="control-label"></label>
                <input asp-for="PositionX" class="form-control" />
                <span asp-validation-for="PositionX" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="PositionY" class="control-label"></label>
                <input asp-for="PositionY" class="form-control" />
                <span asp-validation-for="PositionY" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="TeamOnly" class="control-label"></label>
                <input type="checkbox" asp-for="TeamOnly" class="form-control" />
                <span asp-validation-for="TeamOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floors" class="control-label"></label>
                <select  asp-for="Floor" class="form-control" asp-items='@new SelectList(Model.Floors, "Id", "Name")'>
                </select>
            </div>

            <div class="form-group">
                <input type="submit"  value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
   <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
