@model IEnumerable<ViewLayer.Models.UserViewModel>

@{
    Layout = "";
}

@foreach (var item in Model)
{
    var checkboxId = "User" + item.Id + "Checkbox";
    <div class="user-add-to-team mt-1 list-group-item p-1">
        <button type="button" class="btn btn-success" onclick="AddUserToTeam(@item.Id, '@Html.Encode(item.Name)')">+</button>
        <span>@Html.Encode(item.Name)</span>
    </div>
}
