@model List<WorkzoneViewModel>
@{
    Layout = null;
}

@if (Model != null && Model.Count != 0)
{
    <div class="list-group">
        @foreach (var workzone in Model)
        {
            <a class="list-group-item" data-toggle="modal" data-target="#WorkzoneSelectedModal" data-workzone-id="@workzone.Id" data-workzone-name="@workzone.Name">
                <div class="container px-0 d-inline-flex justify-content-between align-items-center">
                    <p class="m-0">@Html.Encode(workzone.Name)</p>

                    @if (workzone.TeamOnly)
                    {
                        <span class="badge">Team Only</span>
                    }

                    @if (workzone.Workspaces != 0)
                    {
                        <span class="badge badge-primary">@workzone.Workspaces</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">VOL</span>
                    }
                </div>
            </a>
        }
    </div>
}
else
{
    <div class="alert alert-warning mb-0">
        Er zijn geen <span class="alert-heading font-weight-bold">werkplekken</span>
    </div>
}