@model ViewLayer.Models.WorkzoneViewModel;

<div class="modal" id="AdHocWorkzoneModal" tabindex="-1" role="form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AddBook", "Reservation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Workzone_id", Model.WorkzoneId)
                <div class="modal-header">
                    <h5 class="modal-title">@Model.Name Reservering</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="DateSelector" class="select-menu-item">
                        <input name="DateTime_Arriving" id="DateSelectorInput" class="form-control" type="datetime-local">
                    </div>
                    <div class="row">
                        <div class="col-6">Start:</div>
                        <div class="col-6" id="DateAndTimeReservation"></div>
                        <div class="col-6">Tot en met:</div>
                        <div class="col-6">
                            <input type="time" max="18:00" min="08:00" value="18:00" name="DateTime_Leaving" id="WorkzoneLeavingForm" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="datetime-start" id="WorkzoneArrivingForm" />
                    <button type="submit" class="btn btn-primary">Reserveren</button>
                </div>
            }
        </div>
    </div>
</div>