@if (ViewData.ModelState.ErrorCount != 0)
{
    <div class="alert alert-danger alert-dismissible fade show absolute__alert text-white">
        <div class="container d-inline-flex justify-content-between p-0">
            <h6 class="mb-1 alert-heading">Errors</h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr>
        <div class="container absolute__alert__validation-summary" asp-validation-summary="All"></div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}